body{
    background-color: rgb(212, 57, 153)#CCCCCC;
}

#banner{
    width: 100%;
}

h1{
    color: red;
    background-color: pink;
    text-align: center;
}

p {
    text-align: center;
    font-size: 30px;
}

#missao {

}
em strong {
    color :red;
}
